{% extends 'base.html' %}
{% load static %}

{% block title %}
      Cart - Geekzon
{% endblock %}

{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>GeekZon</p>
						<h1>Your Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	{% if cart.get_items %}
		<div class="cart-section mt-150 mb-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12">
						<div class="cart-table-wrap">
							<table class="cart-table">
								<thead class="cart-table-head">
									<tr class="table-head-row">
										<th class="product-remove"></th>
										<th class="product-image">Product Image</th>
										<th class="product-name">Name</th>
										<th class="product-price">Price</th>
										<th class="product-quantity">Quantity</th>
										<th class="product-total">Total</th>
									</tr>
								</thead>
								<tbody>
									{% for item in cart.get_items %}
										<tr class="table-body-row">
											<td class="product-remove">
												<a href="{% url 'cart:remove_from_cart' item.product.id %}">
													<i class="far fa-window-close"></i>
												</a>
											</td>
											<td class="product-image">
												<img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
											</td>
											<td class="product-name">{{ item.product.name }}</td>
											<td class="product-price">Rs. {{ item.product.price }}</td>
											<td class="product-quantity">
												<form method="POST" action="{% url 'cart:update_cart' item.product.id %}">
													{% csrf_token %}
													<input type="number" name="quantity" value="{{ item.quantity }}" min="1">
													<button type="submit" class="update-btn"><span>&#43;</span></button>
												</form>
											</td>
											<td class="product-total">Rs. {{ item.get_total_price }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="total-section">
							<table class="total-table">
								<thead class="total-table-head">
									<tr class="table-total-row">
										<th>Total</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr class="total-data">
										<td><strong>Subtotal:</strong></td>
										<td>Rs. {{ cart.get_total_price }}</td>
									</tr>
									<tr class="total-data">
										<td><strong>Shipping: </strong></td>
										<td>Rs. 0</td>
									</tr>
									<tr class="total-data">
										<td><strong>Total: </strong></td>
										<td>Rs. {{ cart.get_total_price }}</td>
									</tr>
								</tbody>
							</table>
							<div class="cart-buttons">
								<a href="{% url 'store:category_product_list' %}" class="boxed-btn">Continue Shopping</a>
								<a href="{% url 'cart:checkout' %}" class="boxed-btn black">Check Out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<p>Your cart is empty.</p>
			<div class="cart-buttons">
				<a href="{% url 'store:category_product_list' %}" class="boxed-btn">Continue Shopping</a>
			</div>
	{% endif %}

{% endblock %}
