{% extends 'base.html' %}
{% load static %}


{% block title %}
  {% if category %}
      {{category.name}} - Geekzon
  {% else %}
      Store - Geekzon
  {% endif %}
{% endblock %}

{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>GeekZon</p>
						<h1>Store</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->






	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="{{ product.image.url }}" alt="{{ product.name }}">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3>{{ product.name }}</h3>
						<p class="single-product-pricing">Rs.{{ product.price }}</p>
						<p><span>Description:</span><b>{{ product.description }}</b> </p>
						<div class="single-product-form">
							<form action="index.html">
								<input type="number" placeholder="0">
							</form>
							<a href="{% url 'cart:add_to_cart' product.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
							<p><strong>Categories: </strong>{{ category.name }}</p>
						</div>
						<h4>Share:</h4>
						<ul class="product-share">
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->


{% endblock %}